@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alquiler de Vehiculos SAS</h1>
    <p class="lead">Somos una empresa dedicada al alquiler de todo tipo de vehiculos, lider en el mercado, con mas de 20 años de experiencia.</p>
    </div>

<div class="row">
    <div class="col-md-4">

</div>